<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: auto;
        }

        h1 {
            text-align: center;
        }

        .data-item {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Estadisticas del juego</h1>
            <div class="data-item">
                <p>Victoria jugador: {{ data[0] }}</p>
                <p>Derrotas jugador: {{ data[1] }}</p>
                <p>Victorias IA: {{ data[2] }}</p>
                <p>Derrotas IA: {{ data[3] }}</p>
            </div>
    </div>
</body>
</html>